<!doctype html>
<html>

<head>
  <title>胡莱三国2-全新资料片“卧龙觉醒”-王洛勇加盟</title>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta name="keywords" content="胡莱,胡莱三国,胡莱三国2,刘涛,军师,军师争霸,军师联盟,联盟,郭嘉,虎啸龙吟,安迪,三国,胡莱三国页游,胡莱三国手游,胡莱三国2手游,胡莱旅馆,胡莱足球,胡莱手游,胡莱页游,胡莱莱,插旗,倾城,青城,攻城略地,攻城掠地,国战,SLG,策略,社交,胡莱游戏,胡菜,吃肉,搜将,送将,解救,镇压,貂蝉,黄月英,大乔,小乔,甄姬,孙尚香,司马懿,曹操,曹丕,曹植,许褚,徐晃,典韦,于禁,乐进,张辽,李典,夏侯渊,夏侯惇,夏侯霸,曹洪,曹仁,郭嘉,许攸,荀攸,荀彧,贾逵,贾诩,孔秀,孔融,司马昭,司马师,曹真,曹爽,刘备,刘禅,关羽,张飞,黄忠,马超,赵云,魏延,诸葛亮,诸葛詹,庞统,徐庶,孙乾,简雍,马岱,关兴,关平,周仓,张苞,姜维,蒋琬,张南,冯习,孟获,祝融,李严,马忠,马谡,孙权,孙亮,孙休,孙皓,周瑜,程普,陆逊,吕蒙,鲁肃,陆抗,诸葛瑾,诸葛恪,韩当,周泰,黄盖,甘宁,蒋钦,太史慈">
  <meta name="description" content="全新资料片“卧龙觉醒”改写三国！全新资料片“卧龙觉醒”诚邀《虎啸龙吟》电视剧诸葛亮扮演者、“百老汇华裔第一人”王洛勇老师加盟游戏，以“卧龙”身份禳星延寿再斗司马懿，诠释诸葛亮重生后的烽火三国！全新资料片将开启全新洛阳版图，新增跨服联盟战，支持多个联盟跨服较量，全新橙色武将“卧龙”重生归来，并有多重福利活动即刻开启，超5000元的豪华福利来袭，登录即领！">
  <link rel="stylesheet" type="text/css" href="css/index.css?v=20180122">
  <link rel="stylesheet" type="text/css" href="css/lunbo.css?v=20180122">
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="http://static.wdyxgames.com/common/js/swiper.min.js"></script>
  <script type="text/javascript" src="//page.hulai.com/static/open/js/hulai-activity-0.0.1.js?v=20180122"></script>
  <script type="text/javascript" src="//page.hulai.com/static/open/js/isMobile.min.js?v=20180122"></script>
  <script type="text/javascript" src="http://page.hulai.com/static/open/js/vue-2.1.8.min.js"></script>
  <script type="text/javascript" src="//page.hulai.com/static/open/js/hulai-cms-0.0.1.js?v=20180122"></script>
  <script type="text/javascript">
    if (isMobile.any) {
      var goUrl = '/m/home/index.html';
      var url = window.location.href;
      var urlArr = url.split('?')
      if (urlArr.length > 1) {
        goUrl = goUrl + '?' + urlArr[1];
      }
      location.replace(goUrl);
    }
  </script>
</head>

<body>
  <div id="app">
    <nav>
      <ul class="nav_ul">
        <li class="nav_active"><a href="javascript:;">官网首页</a></li>
        <li><a target="_blank" href="list.html#431">新闻中心</a></li>
        <li class="youxiziliao">游戏资料
          <ul class="menu ziliaomenu">
            <a target="_blank" href="wujiang.html" style="width:auto;height:auto;">
              <li style="padding-top: 0;margin-top: 20px;">武将百科</li>
            </a>
            <a target="_blank" href="jineng.html" style="width:auto;height:auto;">
              <li style="margin-top: 10px">技能库</li>
            </a>
          </ul>
        </li>
        <li><a target="_blank" href="http://hlsg2.hulai.com/">主题活动</a></li>
        <li><a target="_blank" href="list.html#434">玩法攻略</a></li>
        <li class="wanjiahudong">玩家互动
          <ul class="menu hudongmenu">
            <a href="javascript:;" style="width:auto;height:auto;">
              <li style="padding-top: 0;margin-top: 20px;">官方论坛</li>
            </a>
            <a target="_blank" href="http://weibo.com/hulaisanguo2" style="width:auto;height:auto;">
              <li style="margin-top: 10px">官方微博</li>
            </a>
            <a target="_blank" href="http://tieba.baidu.com/f?kw=%E8%83%A1%E8%8E%B1%E4%B8%89%E5%9B%BD2&fr=index&red_tag=e1860452855" style="width:auto;height:auto;">
              <li style="margin-top: 10px">官方贴吧</li>
            </a>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- 浮窗 -->
    <div class="fixed_dialog">
      <!-- <img id="shou_zhan" src="img/shouqi.jpg" style="position: relative;right: 17px;"> -->
      <!-- 贴吧 -->
      <a target="_blank" href="http://tieba.baidu.com/f?kw=%E8%83%A1%E8%8E%B1%E4%B8%89%E5%9B%BD2&fr=index&red_tag=e1860452855" style="width: 186px;height: 48px;position: relative;top: 375px;right:-26px;cursor:pointer"></a>
      <!-- 微博 -->
      <a target="_blank" href="http://weibo.com/hulaisanguo2" style="width: 186px;height: 48px;position: relative;top: 374px;right:-26px;cursor: pointer;"></a>
    </div>

    <!-- 预约、下载 -->
    <div class="flex_col_two">
      <a onclick="playVideo('http://cdn.hzsg.hulai.com/hlsgzlp.mp4')" class="video_play" style="margin-left: 421px;position: relative;top: -72px;"><img src="img/video.gif" alt=""></a>
      <div class="yuyue">
        <img src="img/二维码0628.png?v=20180122" style="position: relative;top: 20px;width:106px;height:106px">
        <span class="ewm_r">
        <img src="img/erweima_right.png?v=20180122">
        <span>扫码立即下载</span>
        </span>
        <span class="an_ios">
        <a onclick="window.open('https://tracking.hoolai.com/tracking/2604/');" href="#"><img src="img/1.png" style="position: relative;top: 6px;"></a>
      </span>
        <span class="an_ios">
        <a href="http://uri6.com/Rrm6Rv"><img class="android" src="img/2.png" style="position: relative;top: 6px;"></a>
      </span>
        <span class="an_ios">
        <a href="http://dlied6.qq.com/invc/xfspeed/qqpcmgr/download/GameDownload_hlsg2gw_127.exe"><img src="img/4.png" style="position: relative;top: 6px;"></a>
      </span>
      </div>
    </div>
    <!-- 轮播、资讯 -->
    <div class="flex_row_two top" style="">
      <div style="width:649px;height:424px;margin-right: 10px;">
        <div class="swiper-container top_lunbo">
          <div class="swiper-wrapper">
            <div class="swiper-slide" v-for="(item,index) in lunboData">
              <a :href="item.fields['跳转地址']" target="_blank">
                <img :src="item.fields['图']">
              </a>
            </div>
            <!-- <div v-for="(item,index) in juseData" class="swiper-slide lunbo1" :style="{background: 'url('+ item.fields.mcharacter +')'}">
              <div class="voice" @click="playVoice(index)">
                  <audio :id="index" :src="item.fields.voice">
                    你的浏览器不支持audio标签
                  </audio>
              </div>
            </div> -->
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
      <!-- <iframe frameborder="0" scrolling="no" src="topCarousel.html" style="width:649px;height:424px;margin-right: 10px;"></iframe> -->
      <div class="infor">
        <ul class="infor_ul">
          <li class="infor_act" @click="goGetList('胡莱三国2-最新',1)">最新</li>
          <li @click="goGetList('胡莱三国2-新闻',1)">新闻</li>
          <li @click="goGetList('胡莱三国2-公告',1)">公告</li>
          <li @click="goGetList('胡莱三国2-玩法攻略',1)">攻略</li>
          <a target="_blank" id="jumpToS" :href="more_href" style="width:17px;height:17px"><img src="img/jia.jpg?v=20180122"></a>
        </ul>
        <a target="_blank" href="http://hlsg2.hulai.com/home/article.html#365" style="margin-top: 10px;margin-left: 55px;width: 517px;height: 45px;"><img src="img/list_toppic_0123.jpg"></a>
        <ul class="list">
          <li v-for="item in listData">
            <a target="_blank" :href="item.hrefVal">
            <span class="w400">
              <span><span>[</span>{{listName}}<span>]</span></span>
							<span>{{item.title}}</span>
            </span>
            <span class="fr_dis">{{item.updated}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- 游戏资料 -->
  <div class="flex_row_five" style="padding-top:65px">
    <!-- 武将国家列表 -->
    <div class="wj_jn">
      <span style="display: inline-block;margin-bottom: 20px;">武将</span>
      <ul class="wujiang" id="wujiang_left">
        <li :class="{activeBg: gjAct,normalBg: !gjAct}" @click="changeList('武将',1)"><span>攻击</span></li>
        <li :class="{activeBg: fyAct,normalBg: !fyAct}" @click="changeList('武将',2)"><span>防御</span></li>
        <li :class="{activeBg: fzAct,normalBg: !fzAct}" @click="changeList('武将',3)"><span>辅助</span></li>
      </ul>
      <a target="_blank" href="wujiang.html" style="height:48px;width:54px"><img src="img/more.png?v=20180122" style="margin-left: 6px;"></a>
    </div>
    <!-- 武将人物列表 -->
    <div style="width:165px;height:488px;">
      <ul id="wujiang_right">
        <li v-for="(item,index) in wujiangArr" @click="changeDetail('武将',index)">
          <img style="width:79px;padding-top: 5px;" :src='item.fields.icon'>
          <span>{{item.title}}</span>
        </li>
      </ul>
    </div>
    <div style="margin-left:52px;width:699px;height:488px;text-align: left;position: relative;top: 10px;background:url(img/book.png?v=20180122) no-repeat;display:flex;justify-content:flex-start;color:#835d3e;">
      <div style="display: flex;flex-direction: column;width:340px;">
        <div style="display: flex;justify-content: flex-start;align-items: center;margin-top: 78px;margin-left: 65px;">
          <img id="touxiang" :src="wujiangDetail.icon">
          <span style="display: inline-flex;flex-direction: column;margin-left: 25px;font-size: 14px;position: relative;top: 15px;">
            <span>武将类型：{{wujiangDetail.武将类型}}</span>
          <span>初始品质：{{wujiangDetail.初始品质}}</span>
          <span>可晋升：{{wujiangDetail.可晋升}}</span>
          <span>获取途径：{{wujiangDetail.获取途径}}</span>
          </span>
        </div>
        <div style="display: flex;flex-direction: column;align-items: flex-start;width: 260px;margin-left: 65px;font-size: 14px;">
          <span id="xingming" style="font-size:24px;height:30px">{{wujiangDetail.title}}</span>
          <img src="img/line.png?v=20180122" style="margin-top: 5px;">
        </div>
        <div style="width: 260px;margin-left: 65px;margin-top: 5px;font-size: 14px;">
          <div id="miaoshu">{{wujiangDetail.描述}}</div>
        </div>
      </div>
      <div style="display: flex;flex-direction: column;width: 290px;justify-content: flex-start;align-items: center;">
        <div style="margin-top: 100px;"><img id="jinengicon" :src="jinengDetail.icon"></div>
        <div id="jinengname" style="font-size: 24px;">{{jinengDetail.title}}</div>
        <div id="jinengmiaoshu" style="width:200px;font-size: 14px;margin-top: 20px;">{{jinengDetail.描述}}</div>
      </div>
    </div>
    <div style="width:160px;height:488px;">
      <ul id="jineng_left">
        <li v-for="(item,index) in jinengArr" @click="changeDetail('技能',index)">
          <span style="position: relative;top: 35px;">{{item.title}}</span>
          <img style="width:88px;float: right;" :src='item.fields.icon'>
        </li>
      </ul>
    </div>
    <div class="wj_jn">
      <span style="display: inline-block;margin-bottom: 20px;">技能</span>
      <ul class="wujiang" style="margin-left:10px" id="jineng_right">
        <li @click="changeList('技能',1)" :class="{activeBg: ggAct,normalBg: !ggAct}"><span>公共</span></li>
        <li @click="changeList('技能',2)" :class="{activeBg: zsAct,normalBg: !zsAct}"><span>专属</span></li>
        <li @click="changeList('技能',3)" :class="{activeBg: zgAct,normalBg: !zgAct}"><span>主公</span></li>
      </ul>
      <a target="_blank" href="jineng.html" style="width: 70px;height: 48px;"><img src="img/more.png?v=20180122" style="margin-left: 17px;"></a>
    </div>
  </div>
  <!-- 游戏视频 -->
    <div class="flex_row_two" style="padding-top: 140px;padding-bottom: 82px;">
      <div class="big-video" style="background-image:url(img/全网今日燃旗公测-PC.jpg?v=20180122);">
        <img src="img/video_btn.png?v=20180122" onclick="playVideo('http://cdn.sango2.hulai.com/30sgc.mp4')">
        <div class="little-video-text" style="top: 112px;height: 27px;width: 100%;padding-top: 5px;font-size:15px;">&nbsp;&nbsp;全网今日燃旗公测</div>
      </div>
      <div style="display: flex;flex-wrap: wrap;width: 650px;">
        <div class="column" style="margin-bottom: 8px;">
          <div class="little-video" style="background-image:url(img/iOS开放下载-PC.jpg?v=20180122);margin-right:5px">
            <img src="img/video_btn.png?v=20180122" onclick="playVideo('http://cdn.sango2.hulai.com/15s-iossf-720p.mp4')">
            <div class="little-video-text">&nbsp;&nbsp;iOS开放下载</div>
          </div>
          <div class="little-video" style="background-image:url(img/花絮视频-pc端.jpg?v=20180122);">
            <img src="img/video_btn.png?v=20180122" onclick="playVideo('http://cdn.sango2.hulai.com/sanguo_0518_720p_2.mp4')">
            <div class="little-video-text">&nbsp;&nbsp;刘涛拍摄花絮</div>
          </div>
        </div>
        <div class="column">
          <div class="little-video" style="background-image:url(img/老玩家召集令.jpg?v=20180122);margin-right:5px">
            <img src="img/video_btn.png?v=20180122" onclick="playVideo('http://cdn.sango2.hulai.com/old.mp4')">
            <div class="little-video-text">&nbsp;&nbsp;刘涛发布召集令</div>
          </div>
          <div class="little-video" style="background-image:url(img/公测预约火热进行中.jpg?v=20180122);">
            <img src="img/video_btn.png?v=20180122" onclick="playVideo('http://cdn.sango2.hulai.com/yuyue0519.mp4')">
            <div class="little-video-text">&nbsp;&nbsp;公测预约火热进行中</div>
          </div>
        </div>
      </div>
    </div>
    <!-- 游戏特色 -->
    <div class="flex_row_two" style="padding-top: 120px;padding-bottom: 82px;">
      <div class="tese">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide t0"></div>
            <div class="swiper-slide t1"></div>
            <div class="swiper-slide t2"></div>
            <div class="swiper-slide t3"></div>
            <div class="swiper-slide t4"></div>
          </div>
        </div>
        <div class="swiper-button-next swiper-button-white" style="background-image: url(img/next.png?v=20180122);width:45px;height:114px;background-size:45px 114px;top: 45%;right:80px"></div>
        <div class="swiper-button-prev swiper-button-white" style="background-image: url(img/last.png?v=20180122);width:45px;height:114px;background-size:45px 114px;top: 45%;left:80px;"></div>
      </div>
    </div>
    <!-- footer -->
    <div class="flex_row_two" style="flex-direction: column;padding-bottom: 0;text-align:center">
      <div class="footer" style="margin-top:-57px;font-size:12px;">
        <img src="img/footer_pic.png" style="margin-bottom:10px">
        <div class="ui inverted segment">
          <div class="ui container c_center">
            <p>
              温馨提示：抵制不良游戏，拒绝盗版游戏，注意自我保护，谨防受骗上当，适度游戏益脑，沉迷游戏伤身，合理安排时间，享受健康生活
              <br/> 本网站所有游戏仅适合于年满18周岁以上的用户。如果您未满18周岁，不建议您注册并使用本网络游戏服务；
              <br/> 如果您坚持使用，请您务必加入本网络游戏防沉迷系统进行实名注册，同时我们将会按照您法定监护人的需求提供您在本网络游戏中的信息。
              <br/> 您在使用本网络游戏服务之前已经明确知晓网络游戏可能给您带来的一切潜在威胁，包括长时间游戏可能不利于您的身心健康等。为了您的健康请您合理的使用本网络游戏。
            </p>

            <p>京ICP备11034336号-1 |
              <a target="_blank" href="http://www.hulai.com/assets/files/huai_wenwangwen.jpg">
                <font color="#f5dda9">京网文[2011]0744-272号 |</font>
              </a>
              <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502033250">
                <font color="#f5dda9"><img src="http://www.beian.gov.cn/img/ghs.png">京公网安备 11010502033250号 |</font>
              </a>
              <a target="_blank" href="http://www.hulai.com/assets/files/huai_xukezheng.pdf">
                <font color="#f5dda9">（总）网出证（京）字第095号 |</font>
              </a>
              <a href="#">
                <font color="#f5dda9">ICP证书号:京B2-20171148</font>
              </a>
            </p>
            <p>
              <a class="c_white" target="_blank" href="http://www.hulai.com/server" style="color:#f5dda9">服务协议 |</a>
              <a class="c_white" target="_blank" href="http://www.hulai.com/privacy" style="color:#f5dda9">隐私权保护声明 |</a>
              <a class="c_white" target="_blank" href="http://www.hulai.com/minors" style="color:#f5dda9">未成年人家长监护 |</a>
              <a class="c_white" target="_blank" href="http://www.hulai.com/law" style="color:#f5dda9">法律声明 |</a>
              <a class="c_white" target="_blank" href="http://www.hulai.com/dispute" style="color:#f5dda9">纠纷、投诉</a>
            </p>
            <p>
              北京市石景山区八大处高科技园区西井路3号3号楼9229房间 010-62662622
            </p>
            <p>
              Copyright © 2015 Hoolai Games. All Rights Reserved | 互爱互动（北京）科技有限公司版权所有
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- 遮罩层 -->
    <div id="cover"></div>
    <!-- 视频内容播放 -->
    <div class="video_player">
      <img src="img/close_video.png?v=20180122" class="video_close">
      <video id="video" width="640" height="360" src="" controls="controls">
			无法支持html5浏览器
		</video>
    </div>
  </div>
</div>
  <script src="js/common.js?v=20180122"></script>
  <script src="js/index.js?v=20180122"></script>
  <script src="js/indexVue.js?v=20180122"></script>
  <script>
    $(document).ready(function() {
      //轮播
      window.teseSwiper = $(".tese .swiper-container").swiper({
        slidesPerView: 3,
        // speed: 500,
        prevButton: '.swiper-button-prev',
        nextButton: '.swiper-button-next',
        effect: "coverflow",
        centeredSlides: !0,
        slidesPerView: "auto",
        // autoplay: 3000,
        coverflow: {
          rotate: 0,
          stretch: 0,
          depth: 300,
          modifier: 1
        },
        loop: !0
      });
      //改变尺寸后刷新轮播
      $(window).resize(function(event) {
        setTimeout("teseSwiper.update();teseSwiper.slideNext();", 500);
      });
    });
  </script>
</body>

</html>
