div.main {
    margin: 0 auto;
    width: 1120px;
    background-color: #fff;
    clear: both;
}

div.title {
    border-bottom: 1px solid #eee;
    height: 260px;
    position: relative;
}
div.title img {
    position: absolute;
    left: 300px;
    top: 49px;
}
div.title strong {
    font-size: 30px;
    color: #444;
    font-weight: 400;
    line-height: 48px;
    position: absolute;
    top: 80px;
    left: 500px;
}
div.step {
    padding: 50px 30px;
    border-bottom: 1px solid #eee;
}
div.step strong {
    font-size: 24px;
    font-weight: 400px;
    line-height: 40px;
}
div.step p {
    line-height: 30px;
}
div.step .btn {
    width: 120px;
    background-color: #eee;
    color: #666;
    font-size: 16px;
    line-height: 40px;
    display: block;
    text-align: center;
    margin-top: 10px;
}
div.step a.btn:hover {
    background-color: #990000;
    color: #fff;
}
div.step div.l_zhifu {
    margin-top: 20px;
}
div.step div.l_zhifu strong {
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
}
div.step p.l_zf_title {
    background-color: #eee;
    height: 36px;
}
div.l_zhifu span {
    display: block;
    float: left;
    line-height: 36px;
    padding-left: 20px;
}
span.l_zf01 {
    width: 360px;
}
span.l_zf02,
span.l_zf03 {
    width: 200px;
}
p.l_zf_content {
    height: 50px;
    border: 1px solid #e7e7e7;
}
p.l_zf_content span {
    line-height: 50px;
}
p.l_zfb_img img {
    width: 1060px;
    height: 250px;
}
p.l_line {
    height: 50px;
    border-bottom: 1px solid #e7e7e7;
}
div.l_zhifu p.l_zf2 {
    background-color: #eee;
    padding: 20px;
}
